<article class="relative border rounded-lg">
    <div>
        {{ product | image_url: width: 280 | image_tag: height: 280, width: 280 }}
    </div>

    <div class="p-2 md:p-4">
        <h3 class="text-lg font-semibold">
            <a href="{{ product.url }}" class="hover:text-gray-700">
                {{ product.title }}
            </a>
        </h3>

        <div class="text-gray-600 text-sm">
            {{ product.price | money }}
        </div>
    </div>
</article>