<div class="container">
  <h1 class="text-red-500">Hello</h1>

  <div class="flex gap-4 items-center">
    {% render 'button', content: 'Primary', data: 'hello=there, lets=go, buddy' %}
  {% render 'button', content: 'Secondary' %}
  </div>

</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hero Text"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}