<div class="container">
  <h1 class="text-red-500">Hello</h1>

  <div class="flex gap-4 items-center">
    {% render 'button', content: 'Primary', data: 'hello=there' %}
    {% render 'button', content: 'Secondary', level: 'secondary' %}
    {% render 'button', content: 'Link', as: a, href: "/" %}
  </div>

</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hero Text"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}