<div class="w-full">
    <div class="container md:grid md:grid-cols-2">
        {% comment %} Product images {% endcomment %}
        <div>
            {% render 'media', media: product.media[0], width: 600, height: 600 %}
        </div>

        {% comment %} Product title, description, price {% endcomment %}
        {% form 'product',
            product, class: 'flex flex-col gap-4 md:gap-6 p-4 md:p-6',
            data-js-cart: 'true',
            data-variant-id: product.first_available_variant.id
        %}
            <script>
                console.log('id', {{ product.first_available_variant.id | json }});
            </script>

            <div class="flex flex-col gap-3 md:gap-4">
                <h1>{{ product.title }}</h1>

                <div class="flex flex-col md:flex-row gap-2 md:gap-4 md:justify-between md:items-center">
                    <p class="h4">{{ product.price | money }}</p>
                    <input type="submit" value="Add to cart" class="btn btn-primary">
                </div>
            </div>

            <div>
                <p>{{ product.content }}</p>
            </div>
        {% endform %}
    </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "main-product-section",
  "settings": [
  ]
}
{% endschema %}