<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
    <div class="p-4 border-b flex items-center justify-between">
        <button type="button" class="btn btn-icon" data-ts-dismiss="offcanvas" data-ts-target="#mobileMenu" aria-label="Close">
            {% render 'icon-close' %}
        </button>
        <h5 class="text-lg font-semibold" id="mobileMenuLabel">Offcanvas</h5>
    </div>
    <div class="p-4">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Mobile menu",
  "tag": "section",
  "class": "mobile-menu-section",
  "settings": [
    {
      "type": "link_list",
      "id": "mobile_nav",
      "label": "Mobile Navigation"
    }
  ]
}
{% endschema %}