<div id="mobile-menu" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-full max-w-md dark:bg-gray-800" tabindex="-1" aria-labelledby="mobile-menu-label">
    <div class="flex items-center justify-between">
        <h5 id="mobile-menu-label" class="text-lg font-semibold {% if section.settings.hide_title %} sr-only {% endif %}">{{ section.settings.title }}</h5>
        <button
            type="button"
            data-drawer-hide="mobile-menu"
            aria-controls="mobile-menu"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
            aria-label="Close mobile menu"
        >
            {% render 'icon-close' %}
        </button>
    </div>
    <div>
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Mobile menu",
  "tag": "section",
  "class": "mobile-menu-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Mobile menu"
    },
    {
      "type": "checkbox",
      "id": "hide_title",
      "label": "Hide title",
      "default": false,
      "info": "Use this to hide the section title. It will still be used to aid screen readers, so make sure to give it a meaningful title."
    },
    {
      "type": "link_list",
      "id": "mobile_nav",
      "label": "Mobile Navigation"
    }
  ]
}
{% endschema %}